body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  margin: 0;
}

header {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
}



.recipe-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 10px;
}

.recipe-links {
  padding: 0.5em;
  display: grid;
  grid-gap: 1em;
  grid-template-columns: repeat(auto-fit,minmax(350px, 3fr));
}


.recipe-box {
    /* width: 300px;
    height: 260px;
    border: 1px solid #ccc;
    margin: 10px;
    padding: 10px;
    float: left;
    border:none;
    border-radius: 5%; */
    background-color: rgb(246, 246, 246);
    border-radius: .3em;
  }

  .recipe-box:hover{
    cursor:pointer;
    background-color: rgb(208, 206, 206);
  }

  /* Change the padding and margin around the h2 tags */
  .recipe-box h2 {
    margin: 0;
    padding: 0;
  }


  nav {
    background-color: #777;
    color: #fff;
    padding: 10px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between; /* Add this to align items at the ends */
  }

  .menu-icon {
    font-size: 24px;
    cursor: pointer;
    display: none; /* Hide the menu icon by default for larger screens */
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
  }
  
  nav ul li {
    display: inline;
    margin-right: 10px;
  }
  
  nav li a {
    text-decoration: none;
    color: #333;
    padding: 5px 10px;
    text-align: center;
    display: inline-block; /* Use inline-block to allow vertical alignment */
    vertical-align: middle; /* Vertically align the link's content */

  }
  
  nav li a:hover {
    background-color: #333;
    color: #fff;
  }


  
  #searchInput {
    border: 1px solid #ccc;
    padding: 8px;
    border-radius: 4px;
    margin-left: 20px;
    font-size: 14px;
    width: 200px;
  }



/* Media query for smaller screen sizes */
@media (max-width: 600px) {
  nav {
    flex-direction: column;
    align-items: flex-start;
    height: auto; /* Reset the height to auto for smaller screens */
  }

  .menu-icon {
    display: block; /* Show the menu icon for smaller screens */
    margin-bottom: 10px; /* Add some spacing below the menu icon */
  }

  nav ul {
    flex-direction: column;
    align-items: flex-start;
  }

  nav li {
    margin-right: 0;
    margin-bottom: 5px; /* Add some spacing between the links for smaller screens */
  }
 

  #searchInput {
    margin: 10px 0; /* Add some spacing between the navigation bar and the search bar */
  }
}


  
  
#noResultsMessage {
  display: none;
  color: #FF0000; /* Change the color as per your design */
  font-size: 16px; /* Change the font size as per your design */
  margin-top: 10px;
  text-align: center;
}
  
  