body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  margin: 0;
}

header {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
}

nav {
  background-color: #777;
  color: #fff;
  padding: 10px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 10px;
}

nav li a {
  text-decoration: none;
  color: #333;
  padding: 5px 10px;
}

nav li a:hover {
  background-color: #333;
  color: #fff;
}

.recipe-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 10px;
}

.recipe-links {
  padding: 0.5em;
  display: grid;
  grid-gap: 1em;
  grid-template-columns: repeat(auto-fit,minmax(350px, 3fr));
}


.recipe-box {
    /* width: 300px;
    height: 260px;
    border: 1px solid #ccc;
    margin: 10px;
    padding: 10px;
    float: left;
    border:none;
    border-radius: 5%; */
    background-color: rgb(246, 246, 246);
    border-radius: .3em;
  }

  .recipe-box:hover{
    cursor:pointer;
    background-color: rgb(208, 206, 206);
  }

  /* Change the padding and margin around the h2 tags */
  .recipe-box h2 {
    margin: 0;
    padding: 0;
  }



  nav {
    display: flex;
    align-items: center;
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
  }
  
  nav li {
    margin-right: 20px;
  }
  
  nav a {
    text-decoration: none;
    color: #333;
  }
  
  #searchInput {
    border: 1px solid #ccc;
    padding: 8px;
    border-radius: 4px;
    margin-left: 20px;
    font-size: 14px;
    width: 200px;
  }
  
  /* Optional: Adjust the search input size for different screen sizes */
  @media (max-width: 600px) {
    #searchInput {
      width: 150px;
    }
  }

  /* Larger nav bar on mobile devices */
@media (max-width: 600px) {
  nav {
    height: 70px; /* Adjust the height as needed */
  }
  
  nav li {
    margin-right: 10px;
  }
  
  #searchInput {
    width: 150px;
    font-size: 12px; /* Adjust the font size as needed */
  }
}
  
  
#noResultsMessage {
  display: none;
  color: #FF0000; /* Change the color as per your design */
  font-size: 16px; /* Change the font size as per your design */
  margin-top: 10px;
}
  
  